<!DOCTYPE html>
<html lang="en">

<?include ../partials/head ?>

<body>

  <div id="wrapper">

   <? include ../partials/header ?>


   <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
              Sign In
          </h1>

      </div>
  </div>
  <!-- /.row -->







  <div class="row">




    <div class="col-lg-6">


        <form role="form" action="/auth/local" method="POST">

            <div class="form-group ">

                <input type="text" class="form-control" name="email" placeholder="email">
            </div>

            <div class="form-group ">

            <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>


        </form>

    </div>


</div>
<!-- /.row -->  



</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


</body>

</html>



