<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <? include ../partials/head ?>
</head>


<body class="container">

    <header>
        <? include ../partials/header ?>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Passages</h2>
            
            <table>
                <tr>
                    <th> Sr No.</th>
                    <th> Slug </th>
                    <th> Title</th>
                    <th> Statement</th>

                    <th> Actions</th>
                </tr>
                <? passages.forEach(function(passage, index) { ?>


                <tr>
                    <td><?= (index + 1)?></td>
                    <td><?= passage.slug?></td>
                    <td><?= passage.title ?></td>
                    <td><?- passage.statement?></td>
                    <td>
                        <a href="/passages/<?= passage.slug ?>">show</a>
                    </td>
                </tr>

                <? }); ?>
            </table>

        </div>
    </main>

    <footer>
        <? include ../partials/footer ?>
    </footer>

</body>




<style>
    table {
        width: 100%;
        border: 1px solid black;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
    }
</style>
</html>

















<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <? include ../partials/head ?>
</head>


<body class="container">

    <header>
        <? include ../partials/header ?>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Passage  (<?= passage.slug?>)</h2>

            <div>
                <h3>
                    Slug
                </h3>
                <span> <?= passage.slug ?></span> <br>
            </div>


            <div>
                <h3>
                    Title
                </h3>
                <span> <?= passage.title ?></span> <br>
            </div>

            <div>
                <h3>
                    Statement
                </h3>
                <span> <?- passage.statement ?></span> <br>
            </div>
            <br>



            <div>


                <h3>Attempts</h3>
                <table>
                    <tr>

                        <th> User </th>
                        <th> Attempt</th>
                        <th> Date</th>

                    </tr>
                    <? attempts.forEach(function(attempt, index) { ?>


                    <tr>
                        <td><?= attempt.user.email ?></td>
                        <td><?= attempt.translation ?></td>
                        <td>At <?= attempt.updatedAt ?></td>

                    </tr>

                    <? }); ?>
                </table>

                <br>
                <h3>Comments</h3>
                <table>
                    <tr>

                        <th> User </th>
                        <th> Comment</th>
                        <th> Date</th>

                    </tr>
                    <? comments.forEach(function(comment, index) { ?>


                    <tr>
                        <td><?= comment.user.email ?></td>
                        <td><?= comment.text ?></td>
                        <td>At <?= comment.updatedAt ?></td>

                    </tr>

                    <? }); ?>
                </table>


                <? if(!userAttempt){ ?>
                <h2> Attempt </h2>
                <form action="/passages/<?= passage.id ?>/attempts" method="POST">

                    <input type="text" name="translation"><br>

                    <br>
                    <input type="submit" value="Submit">
                </form>
                <? } ?>

                <br>
                <h2> Comment </h2>
                <form action="/passages/<?= passage.id ?>/comments" method="POST">

                    <input type="text" name="text"><br>

                    <br>
                    <input type="submit" value="Submit">
                </form>

            </div>
        </main>

        <footer>
            <? include ../partials/footer ?>
        </footer>

    </body>

    <style>
        table {
            width: 100%;
            border: 1px solid black;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>

    </html>
