<!DOCTYPE html>
<html lang="en">

<?include ../partials/head ?>

<body>



 <? include ../partials/header ?>

 <!-- Page Content -->
 <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Passages
                <!-- <small>Subheading</small> -->
            </h1>
          <!--       <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Four Column Portfolio</li>
                </ol> -->
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <? passages.forEach(function(passage, index) { ?>
            <div class="col-md-4 img-portfolio">
               <a href="/passages/<?= passage.slug ?>" target="_blank"><?= passage.title ?></a>
                <!-- <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
                </a> -->
            </div>
            <? }); ?>
            
        </div>
        <!-- /.row -->
        

    </div>
    <!-- /.container -->

    <? include ../partials/footer ?>

</body>

</html>
