<!DOCTYPE html>
<html lang="en">

<?include ../partials/head ?>

<body>

    <div id="wrapper">

       <? include ../partials/header ?>


       <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Passages
                    </h1>
                    
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <? passages.forEach(function(passage, index) { ?>
                <div class="col-lg-4 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            
                            <a href="/passages/<?= passage.slug ?>" target="_blank"><?= passage.title ?></a>
                        </div>
                    </div>
                </div>
                <? }); ?>
            </div>
            <!-- /.row -->




        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


</body>

</html>
