




<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <? include ../partials/head ?>
</head>


<body class="container">

    <header>
        <? include ../partials/header ?>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Passage  (<?= passage.slug?>)</h2>

            <div>
                <h3>
                    Slug
                </h3>
                <span> <?= passage.slug ?></span> <br>
            </div>


            <div>
                <h3>
                    Title
                </h3>
                <span> <?= passage.title ?></span> <br>
            </div>

            <div>
                <h3>
                    Statement
                </h3>
                <span> <?- passage.statement ?></span> <br>
            </div>
            <br>


            <? attempts.forEach(function(attempt, index) { ?>
            <div>
                <span> <?= (index + 1) ?></span> <br>
                <span> By <?= attempt.user.email ?></span> <br>
                <span> <?= attempt.translation ?></span> <br>
                <span> At <?= attempt.updatedAt ?></span> <br>

            </div>
            <? }); ?>

            <h2> Attempt </h2>
            <form action="/passages/<?= passage.id ?>/attempts" method="POST">
                <h3>Translation</h3>
                <input type="text" name="translation"><br>

                <br>
                <input type="submit" value="Submit">
            </form>

        </div>
    </main>

    <footer>
        <? include ../partials/footer ?>
    </footer>

</body>

</html>
