.small-font{
    font-size: 0.875em
}

.navbar-inverse {
	background-color: #fafafb;
	border-color: lightgray
}

.navbar-inverse .navbar-nav>li>a {
    color: #535a86;
}


.navbar.navbar-inverse.navbar-fixed-top li > a:hover {
    color: lightblue;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: lightblue;
    background-color: rgba(112, 155, 176, 0.78);
}


body > .container{
	min-height: 600px;
}

   
footer {
    margin: 30px 0 0 0 !important;
    padding: 10px;
    background-color: black;
    color: lightgray;

}

.footer-row{
	margin: 0;
}