








<!DOCTYPE html>
<html lang="en">

<? include ../../partials/head ?>
<body>


	<? include ../../partials/admin/header ?>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Create Passage
				</h1>

			</div>
		</div>
		<!-- /.row -->

		<!-- Projects Row -->
		<div class="row">
			<div class="col-lg-12">
				<div ng-app="tarjumaAdmin" ng-controller='tarjumaController'>
					

					<form action="/admin/passages/" method="POST" novalidate>
						<div class="control-group form-group">
							<div class="controls">
								<label>Title</label>
								<input type="text" name="title" class="form-control" required data-validation-required-message="Please enter title.">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<label> Statement </label>
								<text-angular ng-model="htmlVariable" name="statement"></text-angular>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Create</button>


						<br>

					</form>
				</div>
			</div>
		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

	<? include ../../partials/footer ?>

</body>
<script>
	(function() {
		angular.module('tarjumaAdmin', ['textAngular']).controller('tarjumaController', ['$scope', function ($scope) {
			console.log("tarjumaAdmin")
		}]);
	})();
</script>

</html>
